@page "/lista-super"
@inject NavigationManager NavigationManager
@inject Services.ListaSuperService ListaSuperService

<div class="banner">
    <img src="/img/siteImages/banner.jpg" alt="Banner" class="img-fluid" />
</div>

<h1>Vamos al Super!</h1>

<div class="mb-3">
    <button class="btn btn-primary" @onclick="IrACrearListaSuper">Crear Lista</button>
</div>

@if (listasSuper != null && listasSuper.Any())
{
    <ul class="list-group">
        @foreach (var lista in listasSuper)
        {
            <li class="list-group-item">
                <a href="/ver-lista/@lista.Id" class="text-decoration-none">
                    @if (lista.Items != null && lista.Items.Any())
                    {
                        @string.Join(", ", lista.Items.Select(item => item.Nombre))
                    }
                    else
                    {
                        <em>Lista vacía</em>
                    }
                </a>
            </li>
        }
    </ul>
}
else
{
    <div class="alert alert-info">No se encontraron listas de compras.</div>
}

@code {
    private List<RecetasApk.Models.ListaSuper> listasSuper = new();

    protected override async Task OnInitializedAsync()
    {
        listasSuper = await ListaSuperService.GetListasSuperAsync();
    }

    private void IrACrearListaSuper()
    {
        NavigationManager.NavigateTo("/crear-lista");
    }
}